# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Microsoft Office temporary files
~$*.docx
~$*.xlsx
~$*.pptx

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Node / Scratch
node_modules/
.npm
